/* Grundlegendes Styling für den gesamten Body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Styling für den Header */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Styling für den Hauptbereich */
main {
    padding: 20px;
}

/* Styling für die Fußzeile */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Styling für Links */
a {
    color: #008cba;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
